
.li-items {
    color: var(--main-color);
    text-decoration: none;
    font-size: 21px;
    border: 2px solid var(--main-color);
    margin: 20px;
    padding: 60px 40px;
    border-radius: 80px;
    background-color: beige;
}

li:hover, .li-items:hover{
    color: var(--bg-color);
} 

ul {
    position: relative;
    top: 100px;
}

.admin-btn , .back-home-btn {
    position: relative;
    text-decoration: none;
    border-radius: 14px;
    width: 300px;
    font-size: 22px;
    cursor: pointer;
    display:inline-block;
    background-color: rgb(201, 187, 171);
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.admin-btn {
    margin-top: 400px;
    height: 60px;
}

.back-home-btn {
    height: 40px;
    padding: 8px 0 0 0;
    margin-bottom: 20px;
}

.admin-btn:hover, .back-home-btn:hover {
    -webkit-transition:0.8s all ease;
    transition:0.8s all ease;
    left:0;
    right:0;
    opacity:1;
    border: 3px solid beige;
    background-color: var(--main-color);
    color: beige;
}

.admin-btn:focus , .back-home-btn:focus {
    transition:0.8s all ease;
    left:0;
    right:0;
    opacity:1;
}

/* Media Queries For a Responsive Design: */

@media screen and (max-width: 625px) {
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    li {
        padding: 5px;
    }
    button {
        margin-bottom: 20px;
    }
}