.container {
  background-color: lightgray;
  height: 750px;
  width: 750px;
  transition: all 0.1s;
  flex: 1 0 25%;
  margin: 3% 0 5% 25%;
}

h1 {
  font-size: 40px;
  color: var(--main-color)
}

.template-1, .template-2, .template-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.template-1 {
  background-color: rgb(185, 164, 164);
} 

.template-2 {
  background-color: rgb(119, 114, 91);
}
.template-3 {
  background-color: rgb(151, 122, 126);
}

.img {
  height: 300px;
  width: 500px;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.commericials-content:nth-child(odd) {
  color: rgb(6, 61, 6);
  font-size: 22px;
}

.commericials-content:nth-child(even) {
  color: blue;
  font-size: 22px;
}

/* Media Queries For a Responsive Design: */

@media screen and (max-width: 900px) {
  .container {
    width: 550px;
    margin: 3% 0 5% 15%;
  }
}


@media screen and (max-width: 670px) {
  .container {
    width: 500px;
    margin: 3% 0 5% 5%;
  }
  img {
    width: 400px;
  }
}

@media screen and (max-width: 530px) {
  .container {
    width: 480px;
    margin: 0;
  }
  img {
    width: 200px;
    height: 70px;
  }
}